:root {
  --bg-color: #ffffff;
  --secondary-bg-color: #303030;
  --text-color: #000000;
  --secondary-text-color: #ffffff;
  --dim: #808080;
  --soft-dim: #aaaaaa40;
  --highlight: #ffcc00;
  --soft-highlight: #ccbb80;
  
  font: Helvetica, sans-serif;
}